In [2]:
import pandas as pd

df = pd.read_csv("../../Dataset.csv")

In [3]:
num_df = df.select_dtypes(include=['int64', 'float64'])
stats = num_df.describe().T
stats.to_csv('level1_task2_numerical_stats.csv')
stats

,count,mean,std,min,25%,50%,75%,max
Restaurant ID,9551.0,9.051128e+06,8.791521e+06,53.000000,301962.500000,6.004089e+06,1.835229e+07,1.850065e+07
Country Code,9551.0,1.836562e+01,5.675055e+01,1.000000,1.000000,1.000000e+00,1.000000e+00,2.160000e+02
Longitude,9551.0,6.412657e+01,4.146706e+01,-157.948486,77.081343,7.719196e+01,7.728201e+01,1.748321e+02
Latitude,9551.0,2.585438e+01,1.100794e+01,-41.330428,28.478713,2.857047e+01,2.864276e+01,5.597698e+01
Average Cost for two,9551.0,1.199211e+03,1.612118e+04,0.000000,250.000000,4.000000e+02,7.000000e+02,8.000000e+05
Price range,9551.0,1.804837e+00,9.056088e-01,1.000000,1.000000,2.000000e+00,2.000000e+00,4.000000e+00
Aggregate rating,9551.0,2.666370e+00,1.516378e+00,0.000000,2.500000,3.200000e+00,3.700000e+00,4.900000e+00
Votes,9551.0,1.569097e+02,4.301691e+02,0.000000,5.000000,3.100000e+01,1.310000e+02,1.093400e+04

In [4]:
for col in ['Country Code', 'City', 'Cuisines']:
    if col in df.columns:
        vc = df[col].value_counts()
        vc.to_csv(f'level1_task2_{col.replace(" ", "_")}_value_counts.csv', header=[col])

In [5]:
if 'Cuisines' in df.columns:
    cuisines_series = df['Cuisines'].dropna().astype(str).str.split(',')
    cuisines_exploded = cuisines_series.explode().str.strip()
    top_cuisines = cuisines_exploded.value_counts().head(50)
    top_cuisines.to_csv('level1_task2_top_cuisines.csv')

In [6]:
target_candidates = [c for c in df.columns if 'rating' in c.lower() or 'aggregate' in c.lower()]
target_col = None
for c in target_candidates:
    if c.lower().replace(' ', '') in ("aggregaterating", "aggregate_rating"):
        target_col = c
        break
if not target_col and target_candidates:
    target_col = target_candidates[0]

if target_col:
    df[target_col] = pd.to_numeric(df[target_col], errors='coerce')
    dist = df[target_col].value_counts(dropna=False).sort_index()
    dist.to_csv('level1_task2_target_distribution.csv')